body{
    background-color: #f95738;
}
.container{
    display: flex;
    justify-content: center;
}
button {
    color:#f95738;
    height: 60px;
   
}
button:hover {
    cursor: pointer;
    color:#083d77 ;
}
h1{
    display: flex;
    justify-content: center;
}
.task{
    display: flex;
    justify-content: center;
}